{"openapi":"3.0.1","info":{"title":"Bankramen API","description":"Bankramen 서버 API 명세입니다.","version":"v1"},"servers":[{"url":"http://bankramen-api.cloud","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"정기결제 API","description":"정기결제 직접 등록 및 자동 감지 후보 확정 API"},{"name":"푸시 API","description":"디바이스 토큰 관리 API"},{"name":"Category","description":"기본 제공 카테고리 조회 API"},{"name":"Transaction","description":"거래 내역 조회 및 관리 API"},{"name":"Monthly Report","description":"월별 리포트 조회 API"},{"name":"카카오 인증 API","description":"안드로이드 앱 카카오 OAuth 로그인 API"}],"paths":{"/transactions":{"post":{"tags":["Transaction"],"summary":"거래 내역 추가","description":"Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 수입 또는 지출 거래 내역을 직접 추가합니다.","operationId":"createTransaction","requestBody":{"description":"추가할 거래 내역 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransactionRequest"}}},"required":true},"responses":{"401":{"description":"인증 실패"},"201":{"description":"거래 내역 추가 성공"},"400":{"description":"요청 본문 검증 실패"}},"security":[{"bearerAuth":[]}]}},"/transactions/payment-notifications":{"post":{"tags":["Transaction"],"summary":"결제 알림 거래 내역 추가","description":"클라이언트가 결제 알림에서 파싱한 제목과 금액을 전달하면, Gemini Flash 모델로 카테고리를 추천받아 지출 거래 내역을 추가합니다.","operationId":"createPaymentNotificationTransaction","requestBody":{"description":"결제 알림에서 파싱한 거래 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePaymentNotificationTransactionRequest"}}},"required":true},"responses":{"201":{"description":"결제 알림 거래 내역 추가 성공"},"401":{"description":"인증 실패"},"400":{"description":"요청 본문 검증 실패"}},"security":[{"bearerAuth":[]}]}},"/recurring-payments":{"post":{"tags":["정기결제 API"],"summary":"정기결제 직접 등록","description":"사용자가 직접 정기결제 정보를 입력하여 등록합니다. 직접 등록된 정기결제는 즉시 확정 상태로 저장됩니다.","operationId":"create","parameters":[{"name":"userId","in":"header","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRecurringPaymentRequest"}}},"required":true},"responses":{"201":{"description":"Created"}}}},"/push/token":{"post":{"tags":["푸시 API"],"summary":"디바이스 토큰 저장","operationId":"saveDeviceToken","parameters":[{"name":"memberId","in":"header","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/kakao/reissue":{"post":{"tags":["카카오 인증 API"],"summary":"토큰 재발급","description":"refreshToken으로 accessToken과 refreshToken을 재발급합니다.","operationId":"reissue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"}}}}}}},"/auth/kakao/logout":{"post":{"tags":["카카오 인증 API"],"summary":"로그아웃","description":"refreshToken을 Redis에서 삭제합니다.","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/auth/kakao/login":{"post":{"tags":["카카오 인증 API"],"summary":"카카오 로그인","description":"안드로이드 앱에서 발급받은 카카오 accessToken으로 로그인합니다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KakaoLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"}}}}}}},"/transactions/{transactionId}/category":{"patch":{"tags":["Transaction"],"summary":"거래 내역 카테고리 변경","description":"Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 본인의 거래 내역 카테고리를 변경합니다.","operationId":"updateTransactionCategory","parameters":[{"name":"transactionId","in":"path","description":"거래 내역 ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"550e8400-e29b-41d4-a716-446655440000"}],"requestBody":{"description":"변경할 카테고리 정보","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTransactionCategoryRequest"}}},"required":true},"responses":{"200":{"description":"거래 내역 카테고리 변경 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionHistoryResponse"}}}},"401":{"description":"인증 실패"},"404":{"description":"거래 내역 없음"},"400":{"description":"요청 본문 검증 실패"}},"security":[{"bearerAuth":[]}]}},"/recurring-payments/{recurringPaymentId}/confirm":{"patch":{"tags":["정기결제 API"],"summary":"자동 감지 정기결제 후보 확정","description":"반복 결제로 자동 감지된 정기결제 후보를 사용자가 확인하여 확정 상태로 변경합니다.","operationId":"confirm","parameters":[{"name":"recurringPaymentId","in":"path","description":"확정할 정기결제 ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/transactions/recent":{"get":{"tags":["Transaction"],"summary":"최근 거래 내역 조회","description":"Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 최신 거래 내역을 조회합니다.","operationId":"getRecentTransactions","parameters":[{"name":"limit","in":"query","description":"조회할 최근 거래 내역 개수","required":true,"schema":{"maximum":50,"minimum":1,"type":"integer","format":"int32","default":5},"example":5}],"responses":{"200":{"description":"최근 거래 내역 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecentTransactionListResponse"}}}},"400":{"description":"요청 파라미터 검증 실패"},"401":{"description":"인증 실패"}},"security":[{"bearerAuth":[]}]}},"/transactions/incomes":{"get":{"tags":["Transaction"],"summary":"월별 수입 내역 조회","description":"Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 수입 거래 내역을 제목, 거래일, 거래시간, 금액, 카테고리 정보와 함께 조회합니다.","operationId":"getMonthlyIncomeTransactions","parameters":[{"name":"year","in":"query","description":"조회 연도","required":true,"schema":{"maximum":2999,"minimum":2000,"type":"integer","format":"int32"},"example":2026},{"name":"month","in":"query","description":"조회 월","required":true,"schema":{"maximum":12,"minimum":1,"type":"integer","format":"int32"},"example":8}],"responses":{"200":{"description":"월별 수입 내역 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonthlyIncomeTransactionListResponse"}}}},"400":{"description":"요청 파라미터 검증 실패"},"401":{"description":"인증 실패"}},"security":[{"bearerAuth":[]}]}},"/transactions/expenses":{"get":{"tags":["Transaction"],"summary":"월별 지출 내역 조회","description":"Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 지출 거래 내역을 제목, 거래일, 거래시간, 금액, 카테고리 정보와 함께 조회합니다.","operationId":"getMonthlyExpenseTransactions","parameters":[{"name":"year","in":"query","description":"조회 연도","required":true,"schema":{"maximum":2999,"minimum":2000,"type":"integer","format":"int32"},"example":2026},{"name":"month","in":"query","description":"조회 월","required":true,"schema":{"maximum":12,"minimum":1,"type":"integer","format":"int32"},"example":8}],"responses":{"400":{"description":"요청 파라미터 검증 실패"},"401":{"description":"인증 실패"},"200":{"description":"월별 지출 내역 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonthlyExpenseTransactionListResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/reports/monthly/summary":{"get":{"tags":["Monthly Report"],"summary":"월별 금액 요약 조회","description":"Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 총 지출과 총 수입을 지난달 금액 및 증감률과 함께 조회합니다.","operationId":"getMonthlyAmountSummary","parameters":[{"name":"year","in":"query","description":"조회 연도","required":true,"schema":{"maximum":2999,"minimum":2000,"type":"integer","format":"int32"},"example":2026},{"name":"month","in":"query","description":"조회 월","required":true,"schema":{"maximum":12,"minimum":1,"type":"integer","format":"int32"},"example":8}],"responses":{"200":{"description":"월별 금액 요약 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonthlyAmountSummaryResponse"}}}},"400":{"description":"요청 파라미터 검증 실패"},"401":{"description":"인증 실패"}},"security":[{"bearerAuth":[]}]}},"/reports/monthly/categories":{"get":{"tags":["Monthly Report"],"summary":"월별 카테고리 지출 목록 조회","description":"Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 카테고리별 지출 금액, 전체 지출 대비 비율, 지난달보다 더 많이 사용했는지 여부를 조회합니다.","operationId":"getMonthlyCategoryExpenses","parameters":[{"name":"year","in":"query","description":"조회 연도","required":true,"schema":{"maximum":2999,"minimum":2000,"type":"integer","format":"int32"},"example":2026},{"name":"month","in":"query","description":"조회 월","required":true,"schema":{"maximum":12,"minimum":1,"type":"integer","format":"int32"},"example":8}],"responses":{"200":{"description":"월별 카테고리 지출 목록 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonthlyCategoryExpenseListResponse"}}}},"400":{"description":"요청 파라미터 검증 실패"},"401":{"description":"인증 실패"}},"security":[{"bearerAuth":[]}]}},"/categories":{"get":{"tags":["Category"],"summary":"기본 카테고리 목록 조회","description":"거래 등록 및 리포트 분류에 사용할 수 있는 기본 카테고리 코드를 조회합니다.","operationId":"getCategories","responses":{"200":{"description":"기본 카테고리 목록 조회 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryListResponse"}}}}}}},"/transactions/{transactionId}":{"delete":{"tags":["Transaction"],"summary":"거래 내역 삭제","description":"Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 본인의 거래 내역을 삭제합니다.","operationId":"deleteTransaction","parameters":[{"name":"transactionId","in":"path","description":"거래 내역 ID","required":true,"schema":{"type":"string","format":"uuid"},"example":"550e8400-e29b-41d4-a716-446655440000"}],"responses":{"204":{"description":"거래 내역 삭제 성공"},"401":{"description":"인증 실패"},"404":{"description":"거래 내역 없음"}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"CreateTransactionRequest":{"required":["amount","category","title","transactionDate","type"],"type":"object","properties":{"type":{"type":"string","description":"거래 유형","example":"EXPENSE","enum":["INCOME","EXPENSE"]},"amount":{"type":"integer","description":"거래 금액","format":"int64","example":4500},"title":{"type":"string","description":"거래 제목 또는 사용처","example":"스타벅스 강남점"},"category":{"type":"string","description":"거래 카테고리 코드","example":"FOOD","enum":["FOOD","CAFE_SNACK","CONVENIENCE_MART_MISC","SHOPPING","HOBBY_LEISURE","HEALTH_FITNESS","BEAUTY","TRANSPORT_CAR","TRAVEL_STAY","EDUCATION","LIVING","DONATION_SPONSORSHIP","UNCATEGORIZED","ATM_WITHDRAWAL","TRANSFER","SALARY","SAVINGS_INVESTMENT"]},"transactionDate":{"type":"string","description":"거래 날짜","format":"date","example":"2026-08-15"}},"description":"거래 내역 추가 요청"},"CreatePaymentNotificationTransactionRequest":{"required":["amount","title"],"type":"object","properties":{"title":{"type":"string","description":"클라이언트가 결제 알림에서 파싱한 결제 제목","example":"스타벅스 강남점"},"amount":{"type":"integer","description":"클라이언트가 결제 알림에서 파싱한 결제 금액","format":"int64","example":4500}},"description":"결제 알림 거래 내역 추가 요청"},"CreateRecurringPaymentRequest":{"required":["cycle","nextBillingDate","transactionId"],"type":"object","properties":{"transactionId":{"type":"string","description":"정기결제로 등록할 거래 ID","format":"uuid"},"cycle":{"type":"string","description":"정기결제 주기","example":"MONTHLY","enum":["MONTHLY","YEARLY"]},"nextBillingDate":{"type":"string","description":"다음 결제 예정일","format":"date","example":"2026-06-15"}},"description":"정기결제 직접 등록 요청"},"DeviceTokenRequest":{"required":["token"],"type":"object","properties":{"token":{"type":"string"}}},"TokenRequest":{"required":["refreshToken"],"type":"object","properties":{"refreshToken":{"type":"string"}}},"AuthTokenResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"}}},"MessageResponse":{"type":"object","properties":{"message":{"type":"string"}}},"KakaoLoginRequest":{"required":["kakaoAccessToken"],"type":"object","properties":{"kakaoAccessToken":{"type":"string"}}},"UpdateTransactionCategoryRequest":{"required":["category"],"type":"object","properties":{"category":{"type":"string","description":"거래 카테고리 코드","example":"FOOD","enum":["FOOD","CAFE_SNACK","CONVENIENCE_MART_MISC","SHOPPING","HOBBY_LEISURE","HEALTH_FITNESS","BEAUTY","TRANSPORT_CAR","TRAVEL_STAY","EDUCATION","LIVING","DONATION_SPONSORSHIP","UNCATEGORIZED","ATM_WITHDRAWAL","TRANSFER","SALARY","SAVINGS_INVESTMENT"]}},"description":"거래 내역 카테고리 변경 요청"},"TransactionHistoryResponse":{"type":"object","properties":{"transactionId":{"type":"string","description":"거래 내역 ID","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"title":{"type":"string","description":"거래 제목 또는 설명","example":"스타벅스 강남점"},"transactionDate":{"type":"string","description":"거래 날짜","format":"date","example":"2026-08-15"},"transactionTime":{"$ref":"#/components/schemas/BankramenLocalTime"},"amount":{"type":"integer","description":"거래 금액","format":"int64","example":1400},"type":{"type":"string","description":"거래 유형","example":"EXPENSE","enum":["INCOME","EXPENSE"]},"category":{"type":"string","description":"거래 카테고리 코드","example":"FOOD","enum":["FOOD","CAFE_SNACK","CONVENIENCE_MART_MISC","SHOPPING","HOBBY_LEISURE","HEALTH_FITNESS","BEAUTY","TRANSPORT_CAR","TRAVEL_STAY","EDUCATION","LIVING","DONATION_SPONSORSHIP","UNCATEGORIZED","ATM_WITHDRAWAL","TRANSFER","SALARY","SAVINGS_INVESTMENT"]},"categoryName":{"type":"string","description":"사용자에게 표시할 카테고리명","example":"식비"}},"description":"거래 내역 응답"},"RecentTransactionListResponse":{"type":"object","properties":{"transactions":{"type":"array","description":"최근 거래 내역 목록","items":{"$ref":"#/components/schemas/TransactionHistoryResponse"}}},"description":"최근 거래 내역 목록 응답"},"MonthlyIncomeTransactionListResponse":{"type":"object","properties":{"yearMonth":{"type":"string","description":"조회 년월","example":"2026-08"},"incomes":{"type":"array","description":"수입 거래 내역 목록","items":{"$ref":"#/components/schemas/TransactionHistoryResponse"}}},"description":"월별 수입 내역 목록 응답"},"MonthlyExpenseTransactionListResponse":{"type":"object","properties":{"yearMonth":{"type":"string","description":"조회 년월","example":"2026-08"},"expenses":{"type":"array","description":"지출 거래 내역 목록","items":{"$ref":"#/components/schemas/TransactionHistoryResponse"}}},"description":"월별 지출 내역 목록 응답"},"AmountComparison":{"type":"object","properties":{"currentAmount":{"type":"integer","description":"현재 월 총 금액","format":"int64","example":1250000},"previousAmount":{"type":"integer","description":"지난달 총 금액. 지난달 데이터가 없으면 null입니다.","format":"int64","nullable":true,"example":1500000},"hasPreviousMonthData":{"type":"boolean","description":"지난달 데이터 존재 여부","example":true},"differenceRate":{"type":"number","description":"지난달 대비 증감률. 지난달 데이터가 없거나 지난달 금액이 0원이면 null입니다.","nullable":true,"example":-17.0}},"description":"현재 월과 지난달의 금액 비교 정보"},"MonthlyAmountSummaryResponse":{"type":"object","properties":{"yearMonth":{"type":"string","description":"조회 년월","example":"2026-08"},"expense":{"$ref":"#/components/schemas/AmountComparison"},"income":{"$ref":"#/components/schemas/AmountComparison"}},"description":"월별 수입/지출 금액 요약 응답"},"CategoryExpense":{"type":"object","properties":{"category":{"type":"string","description":"거래 카테고리 코드","example":"FOOD","enum":["FOOD","CAFE_SNACK","CONVENIENCE_MART_MISC","SHOPPING","HOBBY_LEISURE","HEALTH_FITNESS","BEAUTY","TRANSPORT_CAR","TRAVEL_STAY","EDUCATION","LIVING","DONATION_SPONSORSHIP","UNCATEGORIZED","ATM_WITHDRAWAL","TRANSFER","SALARY","SAVINGS_INVESTMENT"]},"categoryName":{"type":"string","description":"사용자에게 표시할 카테고리명","example":"식비"},"expenseAmount":{"type":"integer","description":"해당 카테고리의 현재 월 지출 금액","format":"int64","example":450000},"expenseRatio":{"type":"number","description":"전체 지출 대비 해당 카테고리 지출 비율","example":35.0},"spentMoreThanPreviousMonth":{"type":"boolean","description":"지난달보다 해당 카테고리에 더 많이 지출했는지 여부","example":true}},"description":"카테고리별 지출 정보"},"MonthlyCategoryExpenseListResponse":{"type":"object","properties":{"yearMonth":{"type":"string","description":"조회 년월","example":"2026-08"},"totalExpense":{"type":"integer","description":"현재 월 전체 지출 금액","format":"int64","example":1250000},"categories":{"type":"array","description":"카테고리별 지출 목록","items":{"$ref":"#/components/schemas/CategoryExpense"}}},"description":"월별 카테고리별 지출 목록 응답"},"CategoryListResponse":{"type":"object","properties":{"categories":{"type":"array","description":"기본 제공 카테고리 목록","items":{"$ref":"#/components/schemas/CategoryResponse"}}},"description":"기본 카테고리 목록 응답"},"CategoryResponse":{"type":"object","properties":{"code":{"type":"string","description":"카테고리 enum 코드","example":"FOOD"},"displayName":{"type":"string","description":"사용자에게 표시할 카테고리명","example":"식비"}},"description":"기본 카테고리 응답"},"BankramenLocalTime":{"type":"object","properties":{"hour":{"type":"integer","format":"int32"},"minute":{"type":"integer","format":"int32"},"second":{"type":"integer","format":"int32"},"nano":{"type":"integer","format":"int32"}},"description":"거래 시간. 별도 거래 시간이 없으면 생성 시간을 기준으로 응답합니다.","nullable":true,"example":"14:30:00"}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}