{
  "openapi": "3.0.1",
  "info": {
    "title": "Bankramen API",
    "description": "Bankramen 서버 API 명세입니다.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://bankramen-api.cloud",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "인증 API",
      "description": "카카오 OAuth 로그인 및 인증 관리 관련 API"
    },
    {
      "name": "Category",
      "description": "기본 제공 카테고리 조회 API"
    },
    {
      "name": "Transaction",
      "description": "월별 수입/지출 거래 내역 조회 API"
    },
    {
      "name": "Monthly Report",
      "description": "월별 리포트 조회 API"
    }
  ],
  "paths": {
    "/auth/kakao/reissue": {
      "post": {
        "tags": [
          "인증 API"
        ],
        "summary": "토큰 재발급",
        "description": "유효한 리프레시 토큰을 통해 새로운 액세스 토큰을 재발급합니다.",
        "operationId": "reissue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/kakao/logout": {
      "post": {
        "tags": [
          "인증 API"
        ],
        "summary": "로그아웃",
        "description": "리프레시 토큰을 사용하여 로그아웃 처리를 수행합니다.",
        "operationId": "logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/incomes": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "월별 수입 내역 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 수입 거래 내역을 제목, 거래일, 거래시간, 금액, 카테고리 정보와 함께 조회합니다.",
        "operationId": "getMonthlyIncomeTransactions",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도",
            "required": true,
            "schema": {
              "maximum": 2999,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            },
            "example": 2026
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            },
            "example": 8
          }
        ],
        "responses": {
          "400": {
            "description": "요청 파라미터 검증 실패"
          },
          "401": {
            "description": "인증 실패"
          },
          "200": {
            "description": "월별 수입 내역 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyIncomeTransactionListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transactions/expenses": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "월별 지출 내역 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 지출 거래 내역을 제목, 거래일, 거래시간, 금액, 카테고리 정보와 함께 조회합니다.",
        "operationId": "getMonthlyExpenseTransactions",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도",
            "required": true,
            "schema": {
              "maximum": 2999,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            },
            "example": 2026
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            },
            "example": 8
          }
        ],
        "responses": {
          "200": {
            "description": "월별 지출 내역 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyExpenseTransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/reports/monthly/summary": {
      "get": {
        "tags": [
          "Monthly Report"
        ],
        "summary": "월별 금액 요약 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 총 지출과 총 수입을 지난달 금액 및 증감률과 함께 조회합니다.",
        "operationId": "getMonthlyAmountSummary",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도",
            "required": true,
            "schema": {
              "maximum": 2999,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            },
            "example": 2026
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            },
            "example": 8
          }
        ],
        "responses": {
          "200": {
            "description": "월별 금액 요약 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyAmountSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/reports/monthly/categories": {
      "get": {
        "tags": [
          "Monthly Report"
        ],
        "summary": "월별 카테고리 지출 목록 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 카테고리별 지출 금액, 전체 지출 대비 비율, 지난달보다 더 많이 사용했는지 여부를 조회합니다.",
        "operationId": "getMonthlyCategoryExpenses",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도",
            "required": true,
            "schema": {
              "maximum": 2999,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            },
            "example": 2026
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            },
            "example": 8
          }
        ],
        "responses": {
          "200": {
            "description": "월별 카테고리 지출 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyCategoryExpenseListResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "기본 카테고리 목록 조회",
        "description": "거래 등록 및 리포트 분류에 사용할 수 있는 기본 카테고리 코드를 조회합니다.",
        "operationId": "getCategories",
        "responses": {
          "200": {
            "description": "기본 카테고리 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/kakao/login": {
      "get": {
        "tags": [
          "인증 API"
        ],
        "summary": "카카오 로그인 URL 발급",
        "description": "카카오 로그인 페이지로 이동하기 위한 인증 URL을 생성하여 반환합니다.",
        "operationId": "login",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/kakao/callback": {
      "get": {
        "tags": [
          "인증 API"
        ],
        "summary": "카카오 로그인 콜백",
        "description": "카카오 인증 서버로부터 리다이렉트된 콜백을 받아 로그인을 처리합니다.",
        "operationId": "callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "카카오 인가 코드",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "상태 값(보안용)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenRequest": {
        "required": [
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "MonthlyIncomeTransactionListResponse": {
        "type": "object",
        "properties": {
          "yearMonth": {
            "type": "string",
            "description": "조회 년월",
            "example": "2026-08"
          },
          "incomes": {
            "type": "array",
            "description": "수입 거래 내역 목록",
            "items": {
              "$ref": "#/components/schemas/TransactionHistoryResponse"
            }
          }
        },
        "description": "월별 수입 내역 목록 응답"
      },
      "TransactionHistoryResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "거래 제목 또는 설명",
            "example": "스타벅스 강남점"
          },
          "transactionDate": {
            "type": "string",
            "description": "거래 날짜",
            "format": "date",
            "example": "2026-08-15"
          },
          "transactionTime": {
            "$ref": "#/components/schemas/BankramenLocalTime"
          },
          "amount": {
            "type": "integer",
            "description": "거래 금액",
            "format": "int64",
            "example": 1400
          },
          "category": {
            "type": "string",
            "description": "거래 카테고리 코드",
            "example": "FOOD",
            "enum": [
              "FOOD",
              "CAFE_SNACK",
              "CONVENIENCE_MART_MISC",
              "SHOPPING",
              "HOBBY_LEISURE",
              "HEALTH_FITNESS",
              "BEAUTY",
              "TRANSPORT_CAR",
              "TRAVEL_STAY",
              "EDUCATION",
              "LIVING",
              "DONATION_SPONSORSHIP",
              "UNCATEGORIZED",
              "ATM_WITHDRAWAL",
              "TRANSFER",
              "SALARY",
              "SAVINGS_INVESTMENT"
            ]
          },
          "categoryName": {
            "type": "string",
            "description": "사용자에게 표시할 카테고리명",
            "example": "식비"
          }
        },
        "description": "거래 내역 응답"
      },
      "MonthlyExpenseTransactionListResponse": {
        "type": "object",
        "properties": {
          "yearMonth": {
            "type": "string",
            "description": "조회 년월",
            "example": "2026-08"
          },
          "expenses": {
            "type": "array",
            "description": "지출 거래 내역 목록",
            "items": {
              "$ref": "#/components/schemas/TransactionHistoryResponse"
            }
          }
        },
        "description": "월별 지출 내역 목록 응답"
      },
      "AmountComparison": {
        "type": "object",
        "properties": {
          "currentAmount": {
            "type": "integer",
            "description": "현재 월 총 금액",
            "format": "int64",
            "example": 1250000
          },
          "previousAmount": {
            "type": "integer",
            "description": "지난달 총 금액. 지난달 데이터가 없으면 null입니다.",
            "format": "int64",
            "nullable": true,
            "example": 1500000
          },
          "hasPreviousMonthData": {
            "type": "boolean",
            "description": "지난달 데이터 존재 여부",
            "example": true
          },
          "differenceRate": {
            "type": "number",
            "description": "지난달 대비 증감률. 지난달 데이터가 없거나 지난달 금액이 0원이면 null입니다.",
            "nullable": true,
            "example": -17.0
          }
        },
        "description": "현재 월과 지난달의 금액 비교 정보"
      },
      "MonthlyAmountSummaryResponse": {
        "type": "object",
        "properties": {
          "yearMonth": {
            "type": "string",
            "description": "조회 년월",
            "example": "2026-08"
          },
          "expense": {
            "$ref": "#/components/schemas/AmountComparison"
          },
          "income": {
            "$ref": "#/components/schemas/AmountComparison"
          }
        },
        "description": "월별 수입/지출 금액 요약 응답"
      },
      "CategoryExpense": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "거래 카테고리 코드",
            "example": "FOOD",
            "enum": [
              "FOOD",
              "CAFE_SNACK",
              "CONVENIENCE_MART_MISC",
              "SHOPPING",
              "HOBBY_LEISURE",
              "HEALTH_FITNESS",
              "BEAUTY",
              "TRANSPORT_CAR",
              "TRAVEL_STAY",
              "EDUCATION",
              "LIVING",
              "DONATION_SPONSORSHIP",
              "UNCATEGORIZED",
              "ATM_WITHDRAWAL",
              "TRANSFER",
              "SALARY",
              "SAVINGS_INVESTMENT"
            ]
          },
          "categoryName": {
            "type": "string",
            "description": "사용자에게 표시할 카테고리명",
            "example": "식비"
          },
          "expenseAmount": {
            "type": "integer",
            "description": "해당 카테고리의 현재 월 지출 금액",
            "format": "int64",
            "example": 450000
          },
          "expenseRatio": {
            "type": "number",
            "description": "전체 지출 대비 해당 카테고리 지출 비율",
            "example": 35.0
          },
          "spentMoreThanPreviousMonth": {
            "type": "boolean",
            "description": "지난달보다 해당 카테고리에 더 많이 지출했는지 여부",
            "example": true
          }
        },
        "description": "카테고리별 지출 정보"
      },
      "MonthlyCategoryExpenseListResponse": {
        "type": "object",
        "properties": {
          "yearMonth": {
            "type": "string",
            "description": "조회 년월",
            "example": "2026-08"
          },
          "totalExpense": {
            "type": "integer",
            "description": "현재 월 전체 지출 금액",
            "format": "int64",
            "example": 1250000
          },
          "categories": {
            "type": "array",
            "description": "카테고리별 지출 목록",
            "items": {
              "$ref": "#/components/schemas/CategoryExpense"
            }
          }
        },
        "description": "월별 카테고리별 지출 목록 응답"
      },
      "CategoryListResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "description": "기본 제공 카테고리 목록",
            "items": {
              "$ref": "#/components/schemas/CategoryResponse"
            }
          }
        },
        "description": "기본 카테고리 목록 응답"
      },
      "CategoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "카테고리 enum 코드",
            "example": "FOOD"
          },
          "displayName": {
            "type": "string",
            "description": "사용자에게 표시할 카테고리명",
            "example": "식비"
          }
        },
        "description": "기본 카테고리 응답"
      },
      "BankramenLocalTime": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "second": {
            "type": "integer",
            "format": "int32"
          },
          "nano": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "거래 시간. 별도 거래 시간이 없으면 생성 시간을 기준으로 응답합니다.",
        "nullable": true,
        "example": "14:30:00"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
