{
  "openapi": "3.0.1",
  "info": {
    "title": "Bankramen API",
    "description": "Bankramen 서버 API 명세입니다.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://bankramen-api.cloud",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "인증 API",
      "description": "카카오 OAuth 로그인 및 인증 관리 관련 API"
    },
    {
      "name": "Category",
      "description": "기본 제공 카테고리 조회 API"
    },
    {
      "name": "Push Notification",
      "description": "푸시 알림 조회 API"
    },
    {
      "name": "Transaction",
      "description": "거래 내역 조회 및 관리 API"
    },
    {
      "name": "Monthly Report",
      "description": "월별 리포트 조회 API"
    },
    {
      "name": "디바이스토큰 API",
      "description": "디바이스 토큰 관리 API"
    },
    {
      "name": "정기결제 API",
      "description": "정기결제 등록, 목록 조회, 삭제, 자동 감지 후보 확정 API"
    }
  ],
  "paths": {
    "/transactions": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "거래 내역 추가",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 수입 또는 지출 거래 내역을 직접 추가합니다.",
        "operationId": "createTransaction",
        "requestBody": {
          "description": "추가할 거래 내역 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "요청 본문 검증 실패"
          },
          "401": {
            "description": "인증 실패"
          },
          "201": {
            "description": "거래 내역 추가 성공"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transactions/payment-notifications": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "결제 알림 거래 내역 추가",
        "description": "클라이언트가 결제 알림에서 파싱한 제목과 금액을 전달하면, Gemini Flash 모델로 카테고리를 추천받아 지출 거래 내역을 추가합니다.",
        "operationId": "createPaymentNotificationTransaction",
        "requestBody": {
          "description": "결제 알림에서 파싱한 거래 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentNotificationTransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "요청 본문 검증 실패"
          },
          "201": {
            "description": "결제 알림 거래 내역 추가 성공"
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recurring-payments": {
      "get": {
        "tags": [
          "정기결제 API"
        ],
        "summary": "정기결제 목록 조회",
        "description": "사용자의 활성 정기결제 목록과 이번 달 예정된 정기결제 총 결제 금액을 조회합니다.",
        "operationId": "getRecurringPayments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringPaymentListResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "정기결제 API"
        ],
        "summary": "정기결제 직접 등록",
        "description": "사용자가 거래 기록을 기준으로 정기결제를 직접 등록합니다.",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecurringPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRecurringPaymentResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/auth/kakao/token": {
      "post": {
        "tags": [
          "디바이스토큰 API"
        ],
        "summary": "디바이스 토큰 저장",
        "operationId": "saveDeviceToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "name": "memberId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/auth/kakao/reissue": {
      "post": {
        "tags": [
          "인증 API"
        ],
        "summary": "토큰 재발급",
        "description": "Refresh Token으로 Access Token과 Refresh Token을 재발급합니다.",
        "operationId": "reissue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/kakao/logout": {
      "post": {
        "tags": [
          "인증 API"
        ],
        "summary": "로그아웃",
        "description": "Refresh Token을 무효화합니다.",
        "operationId": "logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}/category": {
      "patch": {
        "tags": [
          "Transaction"
        ],
        "summary": "거래 내역 카테고리 변경",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 본인의 거래 내역 카테고리를 변경합니다.",
        "operationId": "updateTransactionCategory",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "거래 내역 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "description": "변경할 카테고리 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionCategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "요청 본문 검증 실패"
          },
          "401": {
            "description": "인증 실패"
          },
          "404": {
            "description": "거래 내역 없음"
          },
          "200": {
            "description": "거래 내역 카테고리 변경 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionHistoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recurring-payments/{recurringPaymentId}/confirm": {
      "patch": {
        "tags": [
          "정기결제 API"
        ],
        "summary": "자동 감지 정기결제 후보 확정",
        "description": "반복 결제로 자동 감지된 정기결제 후보를 사용자가 확인하여 확정 상태로 변경합니다.",
        "operationId": "confirm",
        "parameters": [
          {
            "name": "userId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "recurringPaymentId",
            "in": "path",
            "description": "확정할 정기결제 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmRecurringPaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/recent": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "최근 거래 내역 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 최신 거래 내역을 조회합니다.",
        "operationId": "getRecentTransactions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "조회할 최근 거래 내역 개수",
            "required": true,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5
            },
            "example": 5
          }
        ],
        "responses": {
          "401": {
            "description": "인증 실패"
          },
          "200": {
            "description": "최근 거래 내역 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecentTransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transactions/incomes": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "월별 수입 내역 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 수입 거래 내역을 제목, 거래일, 거래시간, 금액, 카테고리 정보와 함께 조회합니다.",
        "operationId": "getMonthlyIncomeTransactions",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도",
            "required": true,
            "schema": {
              "maximum": 2999,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            },
            "example": 2026
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            },
            "example": 8
          }
        ],
        "responses": {
          "200": {
            "description": "월별 수입 내역 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyIncomeTransactionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transactions/expenses": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "월별 지출 내역 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 지출 거래 내역을 제목, 거래일, 거래시간, 금액, 카테고리 정보와 함께 조회합니다.",
        "operationId": "getMonthlyExpenseTransactions",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도",
            "required": true,
            "schema": {
              "maximum": 2999,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            },
            "example": 2026
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            },
            "example": 8
          }
        ],
        "responses": {
          "200": {
            "description": "월별 지출 내역 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyExpenseTransactionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/reports/monthly/summary": {
      "get": {
        "tags": [
          "Monthly Report"
        ],
        "summary": "월별 금액 요약 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 총 지출과 총 수입을 지난달 금액 및 증감률과 함께 조회합니다.",
        "operationId": "getMonthlyAmountSummary",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도",
            "required": true,
            "schema": {
              "maximum": 2999,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            },
            "example": 2026
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            },
            "example": 8
          }
        ],
        "responses": {
          "401": {
            "description": "인증 실패"
          },
          "200": {
            "description": "월별 금액 요약 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyAmountSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/reports/monthly/categories": {
      "get": {
        "tags": [
          "Monthly Report"
        ],
        "summary": "월별 카테고리 지출 목록 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 선택한 월의 카테고리별 지출 금액, 전체 지출 대비 비율, 지난달보다 더 많이 사용했는지 여부를 조회합니다.",
        "operationId": "getMonthlyCategoryExpenses",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "조회 연도",
            "required": true,
            "schema": {
              "maximum": 2999,
              "minimum": 2000,
              "type": "integer",
              "format": "int32"
            },
            "example": 2026
          },
          {
            "name": "month",
            "in": "query",
            "description": "조회 월",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            },
            "example": 8
          }
        ],
        "responses": {
          "200": {
            "description": "월별 카테고리 지출 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyCategoryExpenseListResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/push-notifications": {
      "get": {
        "tags": [
          "Push Notification"
        ],
        "summary": "푸시 알림 목록 조회",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, Firebase로 발송된 푸시 알림 저장 이력을 알림 화면 표시 정보와 함께 최신순으로 조회합니다.",
        "operationId": "getPushNotifications",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "조회할 최근 푸시 알림 개수",
            "required": true,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "example": 20
          }
        ],
        "responses": {
          "401": {
            "description": "인증 실패"
          },
          "200": {
            "description": "푸시 알림 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushNotificationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 파라미터 검증 실패"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "기본 카테고리 목록 조회",
        "description": "거래 등록 및 리포트 분류에 사용할 수 있는 기본 카테고리 코드를 조회합니다.",
        "operationId": "getCategories",
        "responses": {
          "200": {
            "description": "기본 카테고리 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/kakao/login": {
      "get": {
        "tags": [
          "인증 API"
        ],
        "summary": "카카오 로그인 URL 발급",
        "description": "카카오 로그인 페이지로 이동하기 위한 URL을 생성합니다.",
        "operationId": "login",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LoginUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/kakao/callback": {
      "get": {
        "tags": [
          "인증 API"
        ],
        "summary": "카카오 로그인 콜백",
        "description": "카카오 인증 서버로부터 전달받은 인가 코드로 로그인합니다.",
        "operationId": "callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "카카오 인가 코드",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "CSRF 방지 state",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "delete": {
        "tags": [
          "Transaction"
        ],
        "summary": "거래 내역 삭제",
        "description": "Authorization 헤더의 액세스 토큰으로 현재 사용자를 식별하고, 본인의 거래 내역을 삭제합니다.",
        "operationId": "deleteTransaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "거래 내역 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "401": {
            "description": "인증 실패"
          },
          "404": {
            "description": "거래 내역 없음"
          },
          "204": {
            "description": "거래 내역 삭제 성공"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recurring-payments/{recurringPaymentId}": {
      "delete": {
        "tags": [
          "정기결제 API"
        ],
        "summary": "정기결제 삭제",
        "description": "정기결제를 비활성화합니다.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "userId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "recurringPaymentId",
            "in": "path",
            "description": "삭제할 정기결제 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRecurringPaymentResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateTransactionRequest": {
        "required": [
          "amount",
          "category",
          "title",
          "transactionDate",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "거래 유형",
            "example": "EXPENSE",
            "enum": [
              "INCOME",
              "EXPENSE"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "거래 금액",
            "format": "int64",
            "example": 4500
          },
          "title": {
            "type": "string",
            "description": "거래 제목 또는 사용처",
            "example": "스타벅스 강남점"
          },
          "category": {
            "type": "string",
            "description": "거래 카테고리 코드",
            "example": "FOOD",
            "enum": [
              "FOOD",
              "CAFE_SNACK",
              "CONVENIENCE_MART_MISC",
              "SHOPPING",
              "HOBBY_LEISURE",
              "HEALTH_FITNESS",
              "BEAUTY",
              "TRANSPORT_CAR",
              "TRAVEL_STAY",
              "EDUCATION",
              "LIVING",
              "DONATION_SPONSORSHIP",
              "UNCATEGORIZED",
              "ATM_WITHDRAWAL",
              "TRANSFER",
              "SALARY",
              "SAVINGS_INVESTMENT"
            ]
          },
          "transactionDate": {
            "type": "string",
            "description": "거래 날짜",
            "format": "date",
            "example": "2026-08-15"
          }
        },
        "description": "거래 내역 추가 요청"
      },
      "CreatePaymentNotificationTransactionRequest": {
        "required": [
          "amount",
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "클라이언트가 결제 알림에서 파싱한 결제 제목",
            "example": "스타벅스 강남점"
          },
          "amount": {
            "type": "integer",
            "description": "클라이언트가 결제 알림에서 파싱한 결제 금액",
            "format": "int64",
            "example": 4500
          }
        },
        "description": "결제 알림 거래 내역 추가 요청"
      },
      "CreateRecurringPaymentRequest": {
        "required": [
          "cycle",
          "nextBillingDate",
          "transactionId"
        ],
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "정기결제로 등록할 거래 ID",
            "format": "uuid"
          },
          "cycle": {
            "type": "string",
            "description": "정기결제 주기",
            "example": "MONTHLY",
            "enum": [
              "MONTHLY",
              "YEARLY"
            ]
          },
          "nextBillingDate": {
            "type": "string",
            "description": "다음 결제 예정일",
            "format": "date",
            "example": "2026-06-15"
          }
        },
        "description": "정기결제 직접 등록 요청"
      },
      "CreateRecurringPaymentResponse": {
        "type": "object",
        "properties": {
          "recurringPaymentId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "DeviceTokenRequest": {
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "TokenRequest": {
        "required": [
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "AuthTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "UpdateTransactionCategoryRequest": {
        "required": [
          "category"
        ],
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "거래 카테고리 코드",
            "example": "FOOD",
            "enum": [
              "FOOD",
              "CAFE_SNACK",
              "CONVENIENCE_MART_MISC",
              "SHOPPING",
              "HOBBY_LEISURE",
              "HEALTH_FITNESS",
              "BEAUTY",
              "TRANSPORT_CAR",
              "TRAVEL_STAY",
              "EDUCATION",
              "LIVING",
              "DONATION_SPONSORSHIP",
              "UNCATEGORIZED",
              "ATM_WITHDRAWAL",
              "TRANSFER",
              "SALARY",
              "SAVINGS_INVESTMENT"
            ]
          }
        },
        "description": "거래 내역 카테고리 변경 요청"
      },
      "LocalTime": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "second": {
            "type": "integer",
            "format": "int32"
          },
          "nano": {
            "type": "integer",
            "format": "int32"
          }
        },
        "description": "거래 시간. 별도 거래 시간이 없으면 생성 시간을 기준으로 응답합니다.",
        "nullable": true,
        "example": "14:30:00"
      },
      "TransactionHistoryResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "거래 내역 ID",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "title": {
            "type": "string",
            "description": "거래 제목 또는 설명",
            "example": "스타벅스 강남점"
          },
          "transactionDate": {
            "type": "string",
            "description": "거래 날짜",
            "format": "date",
            "example": "2026-08-15"
          },
          "transactionTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "amount": {
            "type": "integer",
            "description": "거래 금액",
            "format": "int64",
            "example": 1400
          },
          "type": {
            "type": "string",
            "description": "거래 유형",
            "example": "EXPENSE",
            "enum": [
              "INCOME",
              "EXPENSE"
            ]
          },
          "category": {
            "type": "string",
            "description": "거래 카테고리 코드",
            "example": "FOOD",
            "enum": [
              "FOOD",
              "CAFE_SNACK",
              "CONVENIENCE_MART_MISC",
              "SHOPPING",
              "HOBBY_LEISURE",
              "HEALTH_FITNESS",
              "BEAUTY",
              "TRANSPORT_CAR",
              "TRAVEL_STAY",
              "EDUCATION",
              "LIVING",
              "DONATION_SPONSORSHIP",
              "UNCATEGORIZED",
              "ATM_WITHDRAWAL",
              "TRANSFER",
              "SALARY",
              "SAVINGS_INVESTMENT"
            ]
          },
          "categoryName": {
            "type": "string",
            "description": "사용자에게 표시할 카테고리명",
            "example": "식비"
          }
        },
        "description": "거래 내역 응답"
      },
      "ConfirmRecurringPaymentResponse": {
        "type": "object",
        "properties": {
          "recurringPaymentId": {
            "type": "string",
            "format": "uuid"
          },
          "confirmed": {
            "type": "boolean"
          }
        }
      },
      "RecentTransactionListResponse": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "최근 거래 내역 목록",
            "items": {
              "$ref": "#/components/schemas/TransactionHistoryResponse"
            }
          }
        },
        "description": "최근 거래 내역 목록 응답"
      },
      "MonthlyIncomeTransactionListResponse": {
        "type": "object",
        "properties": {
          "yearMonth": {
            "type": "string",
            "description": "조회 년월",
            "example": "2026-08"
          },
          "incomes": {
            "type": "array",
            "description": "수입 거래 내역 목록",
            "items": {
              "$ref": "#/components/schemas/TransactionHistoryResponse"
            }
          }
        },
        "description": "월별 수입 내역 목록 응답"
      },
      "MonthlyExpenseTransactionListResponse": {
        "type": "object",
        "properties": {
          "yearMonth": {
            "type": "string",
            "description": "조회 년월",
            "example": "2026-08"
          },
          "expenses": {
            "type": "array",
            "description": "지출 거래 내역 목록",
            "items": {
              "$ref": "#/components/schemas/TransactionHistoryResponse"
            }
          }
        },
        "description": "월별 지출 내역 목록 응답"
      },
      "AmountComparison": {
        "type": "object",
        "properties": {
          "currentAmount": {
            "type": "integer",
            "description": "현재 월 총 금액",
            "format": "int64",
            "example": 1250000
          },
          "previousAmount": {
            "type": "integer",
            "description": "지난달 총 금액. 지난달 데이터가 없으면 null입니다.",
            "format": "int64",
            "nullable": true,
            "example": 1500000
          },
          "hasPreviousMonthData": {
            "type": "boolean",
            "description": "지난달 데이터 존재 여부",
            "example": true
          },
          "differenceRate": {
            "type": "number",
            "description": "지난달 대비 증감률. 지난달 데이터가 없거나 지난달 금액이 0원이면 null입니다.",
            "nullable": true,
            "example": -17.0
          }
        },
        "description": "현재 월과 지난달의 금액 비교 정보"
      },
      "MonthlyAmountSummaryResponse": {
        "type": "object",
        "properties": {
          "yearMonth": {
            "type": "string",
            "description": "조회 년월",
            "example": "2026-08"
          },
          "expense": {
            "$ref": "#/components/schemas/AmountComparison"
          },
          "income": {
            "$ref": "#/components/schemas/AmountComparison"
          }
        },
        "description": "월별 수입/지출 금액 요약 응답"
      },
      "CategoryExpense": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "거래 카테고리 코드",
            "example": "FOOD",
            "enum": [
              "FOOD",
              "CAFE_SNACK",
              "CONVENIENCE_MART_MISC",
              "SHOPPING",
              "HOBBY_LEISURE",
              "HEALTH_FITNESS",
              "BEAUTY",
              "TRANSPORT_CAR",
              "TRAVEL_STAY",
              "EDUCATION",
              "LIVING",
              "DONATION_SPONSORSHIP",
              "UNCATEGORIZED",
              "ATM_WITHDRAWAL",
              "TRANSFER",
              "SALARY",
              "SAVINGS_INVESTMENT"
            ]
          },
          "categoryName": {
            "type": "string",
            "description": "사용자에게 표시할 카테고리명",
            "example": "식비"
          },
          "expenseAmount": {
            "type": "integer",
            "description": "해당 카테고리의 현재 월 지출 금액",
            "format": "int64",
            "example": 450000
          },
          "expenseRatio": {
            "type": "number",
            "description": "전체 지출 대비 해당 카테고리 지출 비율",
            "example": 35.0
          },
          "spentMoreThanPreviousMonth": {
            "type": "boolean",
            "description": "지난달보다 해당 카테고리에 더 많이 지출했는지 여부",
            "example": true
          }
        },
        "description": "카테고리별 지출 정보"
      },
      "MonthlyCategoryExpenseListResponse": {
        "type": "object",
        "properties": {
          "yearMonth": {
            "type": "string",
            "description": "조회 년월",
            "example": "2026-08"
          },
          "totalExpense": {
            "type": "integer",
            "description": "현재 월 전체 지출 금액",
            "format": "int64",
            "example": 1250000
          },
          "categories": {
            "type": "array",
            "description": "카테고리별 지출 목록",
            "items": {
              "$ref": "#/components/schemas/CategoryExpense"
            }
          }
        },
        "description": "월별 카테고리별 지출 목록 응답"
      },
      "RecurringPaymentListResponse": {
        "type": "object",
        "properties": {
          "monthlyScheduledTotalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecurringPaymentResponse"
            }
          }
        }
      },
      "RecurringPaymentResponse": {
        "type": "object",
        "properties": {
          "recurringPaymentId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "category": {
            "type": "string"
          },
          "categoryDisplayName": {
            "type": "string"
          },
          "cycle": {
            "type": "string",
            "enum": [
              "MONTHLY",
              "YEARLY"
            ]
          },
          "billingDay": {
            "type": "integer",
            "format": "int32"
          },
          "nextBillingDate": {
            "type": "string",
            "format": "date"
          },
          "registrationType": {
            "type": "string",
            "enum": [
              "MANUAL",
              "AUTO_DETECTED"
            ]
          },
          "confirmed": {
            "type": "boolean"
          },
          "transactionCount": {
            "type": "integer",
            "format": "int32"
          },
          "lastPaidDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Action": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "액션 코드",
            "example": "CONFIRM_RECURRING_PAYMENT"
          },
          "label": {
            "type": "string",
            "description": "버튼 라벨",
            "example": "예"
          },
          "style": {
            "type": "string",
            "description": "버튼 스타일",
            "example": "PRIMARY"
          }
        },
        "description": "알림 액션 버튼"
      },
      "Presentation": {
        "type": "object",
        "properties": {
          "iconBackgroundColor": {
            "type": "string",
            "description": "좌측 원형 아이콘 배경색",
            "example": "#EAF3FF"
          },
          "unreadIndicatorColor": {
            "type": "string",
            "description": "읽지 않은 알림 점 색상",
            "example": "#4F7EEB"
          }
        },
        "description": "알림 타입별 화면 표시 정보"
      },
      "PushNotificationListResponse": {
        "type": "object",
        "properties": {
          "unreadCount": {
            "type": "integer",
            "description": "읽지 않은 푸시 알림 개수",
            "format": "int64",
            "example": 1
          },
          "notifications": {
            "type": "array",
            "description": "푸시 알림 목록",
            "items": {
              "$ref": "#/components/schemas/PushNotificationResponse"
            }
          }
        },
        "description": "푸시 알림 목록 응답"
      },
      "PushNotificationResponse": {
        "type": "object",
        "properties": {
          "notificationId": {
            "type": "string",
            "description": "푸시 알림 ID",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "type": {
            "type": "string",
            "description": "푸시 알림 타입",
            "example": "PAYMENT_RECORDED",
            "enum": [
              "PAYMENT_RECORDED",
              "RECURRING_ALERT",
              "PATTERN_DETECTED",
              "MONTHLY_REPORT",
              "RECURRING_CANDIDATE",
              "RECURRING_PAYMENT_REMINDER",
              "RECURRING_PAYMENT_CONFIRMED",
              "RECURRING_PAYMENT_MISSING"
            ]
          },
          "title": {
            "type": "string",
            "description": "푸시 알림 제목",
            "example": "결제 내역이 기록됐어요"
          },
          "body": {
            "type": "string",
            "description": "푸시 알림 본문",
            "example": "스타벅스 강남점 4,500원이 카페/간식으로 기록됐어요."
          },
          "referenceKey": {
            "type": "string",
            "description": "참조 키. 거래 ID 또는 리포트 년월 등 알림 타입별 참조값입니다.",
            "nullable": true,
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "read": {
            "type": "boolean",
            "description": "읽음 여부",
            "example": false
          },
          "unread": {
            "type": "boolean",
            "description": "읽지 않음 여부. 화면의 파란 점 표시 여부로 사용할 수 있습니다.",
            "example": true
          },
          "sentAt": {
            "type": "string",
            "description": "푸시 알림 발송/저장 시각",
            "format": "date-time"
          },
          "displayTime": {
            "type": "string",
            "description": "화면 표시용 상대 시간",
            "example": "2시간 전"
          },
          "presentation": {
            "$ref": "#/components/schemas/Presentation"
          },
          "actions": {
            "type": "array",
            "description": "알림에서 노출할 액션 버튼 목록",
            "items": {
              "$ref": "#/components/schemas/Action"
            }
          }
        },
        "description": "푸시 알림 응답"
      },
      "CategoryListResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "description": "기본 제공 카테고리 목록",
            "items": {
              "$ref": "#/components/schemas/CategoryResponse"
            }
          }
        },
        "description": "기본 카테고리 목록 응답"
      },
      "CategoryResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "카테고리 enum 코드",
            "example": "FOOD"
          },
          "displayName": {
            "type": "string",
            "description": "사용자에게 표시할 카테고리명",
            "example": "식비"
          }
        },
        "description": "기본 카테고리 응답"
      },
      "LoginUrlResponse": {
        "type": "object",
        "properties": {
          "loginUrl": {
            "type": "string"
          }
        }
      },
      "DeleteRecurringPaymentResponse": {
        "type": "object",
        "properties": {
          "recurringPaymentId": {
            "type": "string",
            "format": "uuid"
          },
          "active": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
